/* 设置界面css*/
view {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* AccountSetUp 的css设置 */

.AccountSetUp {
	float: left;
	width: 100%;
	height: 170px;
}


.Account {
	margin-left: 3px;
	margin-top: 7px;
	float: left;
	width: 100%;
	height: 86px;
}

.ImgSetup {
	float: left;
	margin-left: 15px;
}

.TextSetup {
	margin-top: 20px;
	padding-left: 30px;
	float: left;
}

#SetUpName {
	width: 100px;
	height: 100%;
	text-align: center;
	font-size: 17px;
	color: #5d5d5d;
}

#SetUpUID {
	margin-top: 5px;
	float: left;
	padding-right: 20px;
	color: #8c8c8c;
}

#SetUpLVL {
	color: #42af9a;
	font-weight: 510;
	display: inline-block;
	margin-top: 4px;
	
}

#SetUpicon {
	float: right;
	padding-right: 30px;
	padding-top: 30px;
}

#SingIn {
	/* 设置好统计数字中的颜色和字体大小优先级 */
	color: #42af9a;
}

.AccountSignIn {
	width: 93%;
	height: 70px;
	margin-left: 12px;
	margin-right: 12px;
	float: left;
	border: 2px solid;
	border-radius: 10px;
	border-color: #f3f4f6;
	background-color: #f2f2f3;

}

#SingInSetUp_ONE,
#SingInSetUp_TWO,
#SingInSetUp_THREE {
	float: left;
	width: 32%;
	height: 75px;
	text-align: center;
	padding-top: 25px;
	color: #8d9096;
	font-weight: 510;
}



/* 学习设置子模块 */
.LearningSettings {
	background-color: #e7e7e7;
	width: 100%;
	height: 35px;
	color: #888888;
	float: left;
}

#LearningText {
	float: left;
	margin-top: 8px;
	margin-left: 15px;
}

.LearningSettingsInit {
	
	float: left;
	width: 100%;
	height: 205px;
}


.DailyLearningTextClass {
	width: 100%;
	height: 50px;
	float: left;
	font-size: 14px;
}

#DailyLearning_Text {
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	color: #5d5d5d;
}

#DailyLearning_TextInit {
	float: left;
	width: 100%;
	margin-left: 15px;
	margin-top: 8px;
	color: #5d5d5d;
	
}

#LearningView {
	float: left;
	color: #909399;
	margin-left: 15px;
}


.LearningViewText {
	float: left;
	width: 70%;
	height: 40px;
}

#LearningClickInit {
	float: right;
	width: 60px;
	height: 30px;
	margin-top: 10px;
	margin-right: 25px;
	border: 1px solid #42af9a;
	border-radius: 6px;
	background-color: #42af9a;
}

#TextIDSetUp {
	display: inline-block;
	width: 60px;
	height: 30px;
	text-align: center;
	margin-top: 6px;
	color: #f8f6f7;
}


#DivLive {
	height: 1px;
	width: 100%;
	background-color: #f4f4f5;
	float: left;
}


#Ufield {
	float: right;
	width: 60px;
	margin-right: 25px;
	margin-top: 12px;
}

#SetUpiconList {
	float: right;
	padding-right: 10px;
	padding-top: 15px;
}

.Databackhr {
	background-color: #DCDFE6;
	width: 100%;
	height: 15px;
	color: #909399;
	float: left;
}

/* 个人资料账号模块设置*/
.PersonalData {
	height: 100%;
	height: 300px;
	/* border-style: solid;
	border-color: #ffffff; */
}

/* 个人资料div格子通用设置*/
.PersonalDataSetUp {
	width: 100%;
	height: 200px;
	/* border-style: solid;
	border-color: red; */
}

/* 设置hover-点击效果 */
.cell-hover-class {
	background-color: rgb(235, 237, 238);
	opacity: 0.8;
}
/* 个人设置中第二列表位置 */
.SecondList{
	margin-top: 20rpx;
}

.DailyLearningTextClass-bottom{
	display: block;
	width: 100%;
	height: 130px;
	float: left;
	font-size: 10px;
	padding-top: 22rpx;
}
/* 底部版权 */
	
#DailyLearningTextCopyright{
	line-height: 38rpx;
	display: block ;
	text-align: center;
}